<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="https://www.um.es/">
        <img src="assets/imgs/escudo_umu1.png" height="70px" width="70px">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/imgs/menu.png" height="30px" width="30px">
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">DBPedia</a>
          <a class="dropdown-item" href="#">W3C</a>
          <a class="dropdown-item" href="#">Search from your file</a>
          
        </div>
      </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <h1 class="welcome" tabindex="-1">Welcome to Web Semantic Search Engine</h1>
        </li>
      </ul>
    </div>
  </nav>
  


