<div class="btnpers">
<button type="button" class="btn btn1 btn-outline-success" (click)="showcontent()" *ngIf="!button"><h3> Start your search now</h3></button>
</div>
<div class="maindiv" *ngIf="button">
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
            <div class="form-group">
                <label for="selectoption">Language of your search</label>
                <select class="form-control" id="selectoption" (change)="setLanguage($event.target.value)">
                   <option></option> 
                  <option></option>
                  <option value="en">EN</option>
                  <option value="es">ES</option> 
                  <option value="it">IT</option>
                  <option value="fr">FR</option>
                </select>
              </div>
          <label for="exampleFormControlInput1">Word</label>
          <input type="text" class="form-control" id="input"  name="wordToSearch" ngModel required #first="ngModel" placeholder="Insert here your word">
        </div>
        
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Select the resource:</label>
          <div class="checkbox">
            <label><input type="checkbox" value="">From DBPedia</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">From External Source</label>
          </div>
          <div class="checkbox disabled">
            <label><input (click)="showfile()" type="checkbox" value="">From your file</label>
            <div  class="form-group" *ngIf="checkfile">
                <input (change)="setFile($event)" type="file" class="form-control-file" id="file">
              </div>
          </div>
        </div>
        <button type="submit"  class="btn btn-success">Search Now!</button>
      </form>

</div>
