<div class="btnpers">
<button type="button" class="btn btn1 btn-outline-success" (click)="showcontent()" *ngIf="!button"><h3> Start your search now</h3></button>
</div>
<div class="maindiv" *ngIf="button">
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
            <div class="form-group">
                <label for="selectoption">Language of your search</label>
                <select class="form-control" id="selectoption" (change)="setLanguage($event.target.value)">
                   <option></option> 
                  <option></option>
                  <option value="en">EN</option>
                  <option value="es">ES</option> 
                  <option value="it">IT</option>
                  <option value="fr">FR</option>
                </select>
              </div>
          <label for="exampleFormControlInput1">Word</label>
          <input type="text" class="form-control" id="input"  name="wordToSearch" ngModel required #first="ngModel" placeholder="Insert here your word">
        </div>
        
        
        <div class="form-group">
          <label for="resource">Select the resource:</label>
          <div class="checkbox">
            <label><input type="checkbox" value="">From DBPedia</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">From External Source</label>
          </div>
          <div class="checkbox disabled">
            <label><input (click)="showfile()" type="checkbox" value="">From your file</label>
            <div  class="form-group" >
                <input *ngIf="checkfile" (change)="setFile($event)" type="file" class="form-control-file" id="file">
              </div>
          </div>
        </div>
        <button type="submit"  class="btn btn-success">Search Now!</button>
      </form>
</div> 

<nav id="navbar-example2" class="navbar navbar-light bg-light" *ngIf="showoutput">
  <a class="navbar-brand" >Search results are shown below</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" (click)="scrollTo('fat')">@DBpedia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="scrollTo('mdo')">@File Uploaded</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="scrollTo('mdc')">@Linked Data</a>
    </li>
  </ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0" *ngIf="showoutput">
  <h4 id="fat">Dbpedia Output</h4>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">URI</th>
        <th scope="col">NAME(type)</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let o of dbpediaoutput">
          <td><a href="{{o.uri}}">{{o.uri}}</a></td> 
         <td>{{o.name}}({{o.type}})</td>
      </tr>
    </tbody>
  </table>
  <h4 id="mdo">File Uploaded Output</h4>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">URI</th>
        <th scope="col">NAME(type)</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let o of risultfiles">
          <td><a href="{{o.uri}}">{{o.uri}}</a></td> 
         <td>{{o.name}}({{o.type}})</td>
      </tr>
    </tbody>
  </table>
  <h4 id="mdc">Linked Data Output</h4>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">URI</th>
        <th scope="col">NAME(type)</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let o of alternativeoutput">
          <td><a href="{{o.value}}">{{o.value}}</a></td> 
          <td>{{o.name}}({{o.type}})</td> 
    </tbody>
  </table>
</div>



     
     
